In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [84]:
data=pd.read_csv('iris.csv')
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [85]:
df=pd.DataFrame(data)
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [86]:
print(df['sepal.length'].mean())
print(df['sepal.length'].sum())
print(df['sepal.length'].max())
print(df['sepal.length'].min())
print(df['sepal.length'].median())
print(df['sepal.length'].std())

5.843333333333334
876.5
7.9
4.3
5.8
0.828066127977863

In [87]:
df['area']=df['sepal.length']*df['sepal.width']
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety   area
0           5.1          3.5           1.4          0.2  Setosa  17.85
1           4.9          3.0           1.4          0.2  Setosa  14.70
2           4.7          3.2           1.3          0.2  Setosa  15.04
3           4.6          3.1           1.5          0.2  Setosa  14.26
4           5.0          3.6           1.4          0.2  Setosa  18.00

In [88]:
grt=(df[df['sepal.length']>1.5])
grt.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety   area
0           5.1          3.5           1.4          0.2  Setosa  17.85
1           4.9          3.0           1.4          0.2  Setosa  14.70
2           4.7          3.2           1.3          0.2  Setosa  15.04
3           4.6          3.1           1.5          0.2  Setosa  14.26
4           5.0          3.6           1.4          0.2  Setosa  18.00

In [89]:
eql=(df[df['sepal.length']<3.9])
eql.head(5)

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety, area]
Index: []

In [90]:
flt=(df[df['variety']=='Setosa'])
flt.head()

   sepal.length  sepal.width  petal.length  petal.width variety   area
0           5.1          3.5           1.4          0.2  Setosa  17.85
1           4.9          3.0           1.4          0.2  Setosa  14.70
2           4.7          3.2           1.3          0.2  Setosa  15.04
3           4.6          3.1           1.5          0.2  Setosa  14.26
4           5.0          3.6           1.4          0.2  Setosa  18.00

In [91]:
grp=df.groupby('variety')['sepal.length'].max()
grp

variety
Setosa        5.8
Versicolor    7.0
Virginica     7.9
Name: sepal.length, dtype: float64

In [92]:
df.dropna(inplace=True)
df.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
area            0
dtype: int64

In [93]:
df['sepal.length'].fillna(3,inplace=True)

C:\Users\chris\AppData\Local\Temp\ipykernel_5148\3964997105.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sepal.length'].fillna(3,inplace=True)

In [94]:
sorted=df.sort_values(by='sepal.length')
sorted.head(5)

    sepal.length  sepal.width  petal.length  petal.width variety   area
13           4.3          3.0           1.1          0.1  Setosa  12.90
8            4.4          2.9           1.4          0.2  Setosa  12.76
42           4.4          3.2           1.3          0.2  Setosa  14.08
38           4.4          3.0           1.3          0.2  Setosa  13.20
41           4.5          2.3           1.3          0.3  Setosa  10.35

In [95]:
add=np.add(df['sepal.length'],df['sepal.width'])
add

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

In [96]:
mul=np.multiply(df['sepal.length'],df['sepal.width'])
mul

0      17.85
1      14.70
2      15.04
3      14.26
4      18.00
       ...
145    20.10
146    15.75
147    19.50
148    21.08
149    17.70
Length: 150, dtype: float64

In [97]:
sub=np.subtract(df['sepal.length'],df['sepal.width'])
sub

0      1.6
1      1.9
2      1.5
3      1.5
4      1.4
      ...
145    3.7
146    3.8
147    3.5
148    2.8
149    2.9
Length: 150, dtype: float64

In [98]:
sqrt=np.sqrt(df['sepal.length'])
sqrt

0      2.258318
1      2.213594
2      2.167948
3      2.144761
4      2.236068
         ...
145    2.588436
146    2.509980
147    2.549510
148    2.489980
149    2.428992
Name: sepal.length, Length: 150, dtype: float64

In [99]:
print(np.cos(df['sepal.length']))
print(np.sin(df['sepal.length']))
print(np.exp(df['sepal.length']))

0      0.377978
1      0.186512
2     -0.012389
3     -0.112153
4      0.283662
         ...
145    0.914383
146    0.999859
147    0.976588
148    0.996542
149    0.927478
Name: sepal.length, Length: 150, dtype: float64
0     -0.925815
1     -0.982453
2     -0.999923
3     -0.993691
4     -0.958924
         ...
145    0.404850
146    0.016814
147    0.215120
148   -0.083089
149   -0.373877
Name: sepal.length, Length: 150, dtype: float64
0      164.021907
1      134.289780
2      109.947172
3       99.484316
4      148.413159
          ...
145    812.405825
146    544.571910
147    665.141633
148    492.749041
149    365.037468
Name: sepal.length, Length: 150, dtype: float64